{% extends 'User/base.html' %}
{% load static %}

{% block page_Title %}Parents{% endblock %}

{% block nav-pills %}
<ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="/teachers">معلم</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/students">دانش آموز</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/managers">مدیر</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/parents">والدین</a>
    </li>
</ul>
{% endblock %}

{% block form_Title %}
لیست والدین
{% endblock %}

{% block add_Button %}
<a class="btn btn-primary mx-1" href="/addParent">
    افزودن والدین جدید
</a>
{% endblock %}

{% block body_Content %}
<div class="row card-body">
    <div class="col-md-12">
        <table class="table table-light table-striped text-right">
            <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>کد ملی</th>
                <th>شماره تلفن</th>
                <th>نام کاربری</th>
                <th>رمز عبور</th>
                <th>تعداد فرزندان در این مدرسه</th>
            </tr>
            </thead>
            <tbody>
            {% for item in parents %}
            <tr>
                <td>{{ item.First_name }}</td>
                <td>{{ item.Last_name }}</td>
                <td>{{ item.International_code }}</td>
                <td>{{ item.Phone }}</td>
                <td>{{ item.Username }}</td>
                <td>{{ item.Password }}</td>
                <td>{{ item.Number_of_children }}</td>
                <td>
                    <a href="/search_Parent/{{ item.User_Id }}"
                    class="btn btn-sm btn-info">
                        ویرایش
                    </a>
                    <a onclick="SetDelete('/deleteParent/{{ item.User_Id }}')"
                       data-bs-toggle="modal" data-bs-target="#deleteModal"
                       class="btn btn-sm btn-danger">
                        حذف
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block deleteModal %}
<div class="modal" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">حذف والدین</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                آیا از حذف این والدین اطمینان دارید؟
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a type="button" href="" class="btn btn-danger" id="deleteItem">بله حذف کن</a>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">خیر</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function SetDelete(value) {
        document.getElementById('deleteItem').href = value;
    }
</script>
{% endblock %}
