{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    {% include 'links.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container my-5">
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item">
          <a class="nav-link active" id="pill-tab-0" data-bs-toggle="pill" href="#pill-tabpanel-0" role="tab" aria-controls="pill-tabpanel-0" aria-selected="true">ثبت معلم</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="pill-tab-1" data-bs-toggle="pill" href="#pill-tabpanel-1" role="tab" aria-controls="pill-tabpanel-1" aria-selected="false">ثبت دانش آموز</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" id="pill-tab-2" data-bs-toggle="pill" href="#pill-tabpanel-2" role="tab" aria-controls="pill-tabpanel-2" aria-selected="false">ثبت مدیر</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" id="pill-tab-3" data-bs-toggle="pill" href="#pill-tabpanel-3" role="tab" aria-controls="pill-tabpanel-2" aria-selected="false">ثبت والدین</a>
      </li>
    </ul>
    <hr>
    <div class="tab-content py-3 mt-2">
        <div class="tab-pane active" id="pill-tabpanel-0" role="tabpanel" aria-labelledby="pill-tab-0">
            <form method="post" action="addTeacher">
                {% csrf_token %}
                {% for item in teacher %}
                <div class="mb-3">
                    {{ item.label_tag }}
                    {{ item }}
                    <div class="invalid-feedback">{{ field.errors }}</div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">ارسال فرم</button>
            </form>
        </div>
        <div class="tab-pane" id="pill-tabpanel-1" role="tabpanel" aria-labelledby="pill-tab-1">
            <form action="addStudent" method="post">
                {% csrf_token %}
                {% for item in student %}
                <div class="mb-3">
                    {{ item.label_tag }}
                    {{ item }}
                    <div class="invalid-feedback">{{ field.errors }}</div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">ارسال فرم</button>
            </form>
        </div>
        <div class="tab-pane" id="pill-tabpanel-2" role="tabpanel" aria-labelledby="pill-tab-2">
            <form action="addManager" method="post">
                {% csrf_token %}
                {% for item in manager %}
                <div class="mb-3">
                    {{ item.label_tag }}
                    {{ item }}
                    <div class="invalid-feedback">{{ field.errors }}</div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">ارسال فرم</button>
            </form>
        </div>
        <div class="tab-pane" id="pill-tabpanel-3" role="tabpanel" aria-labelledby="pill-tab-3">
            <form action="addParent" method="post">
                {% csrf_token %}
                {% for item in parent %}
                <div class="mb-3">
                    {{ item.label_tag }}
                    {{ item }}
                    <div class="invalid-feedback">{{ field.errors }}</div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary w-100">ارسال فرم</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
