{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Managers</title>
    {% include 'links.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container my-5">
    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link" href="/teachers">معلم</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/students">دانش آموز</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/managers">مدیر</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/parents">والدین</a>
        </li>
    </ul>
    <hr>
    <div class="tab-content py-3 mt-2">
        <div class="tab-pane active">
            <div>
                <div class="card">
                    <div class="card-header d-inline-flex justify-content-between">
                        <p class="d-inline my-2" style="font-size: 18px">لیست مدیران</p>
                        <a class="btn btn-primary mx-1" data-bs-toggle="modal" data-bs-target="#addModal">افزودن
                            مدیر</a>
                    </div>
                    <div class="row card-body">
                        <div class="col-md-12">
                            <table class="table table-light table-striped text-right">
                                <thead>
                                <tr>
                                    <th>نام</th>
                                    <th>نام خانوادگی</th>
                                    <th>کد ملی</th>
                                    <th>شماره تلفن</th>
                                    <th>نام کاربری</th>
                                    <th>رمز عبور</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in managers %}
                                <tr>
                                    <td>{{ item.First_name }}</td>
                                    <td>{{ item.Last_name }}</td>
                                    <td>{{ item.International_code }}</td>
                                    <td>{{ item.Phone }}</td>
                                    <td>{{ item.Username }}</td>
                                    <td>{{ item.Password }}</td>
                                    <td>
                                        <a onclick="SetVal('{{ item.First_name }}', '{{ item.Last_name }}', '{{ item.International_code }}', '{{ item.Phone }}', '{{ item.Username }}', '{{ item.Password }}', '{{ item.User_Id }}')"
                                                data-bs-toggle="modal" data-bs-target="#editModal"
                                                class="btn btn-sm btn-info">
                                            ویرایش
                                        </a>
                                        <a onclick="SetDelete('/deleteManager/{{ item.User_Id }}')"
                                           data-bs-toggle="modal" data-bs-target="#deleteModal"
                                           class="btn btn-sm btn-danger">
                                            حذف
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- The Modal -->
                <div class="modal" id="deleteModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">حذف مدیر</h4>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                آیا از حذف این مدیر اطمینان دارید؟
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <a type="button" href="" class="btn btn-danger" id="deleteItem">بله حذف کن</a>
                                <button type="button" class="btn btn-info" data-bs-dismiss="modal">خیر</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal" id="editModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">ویرایش مدیر</h4>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form id="formEdit" action="editManager" method="post">
                                    {% csrf_token %}
                                    {% for item in manager %}
                                    <div class="mb-3 mt-3">
                                        {{ item.label_tag }}
                                        {{ item }}
                                        <div class="invalid-feedback">{{ field.errors }}</div>
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
                                </form>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-bs-dismiss="modal">بستن فرم</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal" id="addModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">افزودن مدیر</h4>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="addManager" id="formEdit" method="post">
                                    {% csrf_token %}
                                    {% for item in manager %}
                                    <div class="mb-3 mt-3">
                                        {{ item.label_tag }}
                                        {{ item }}
                                        <div class="invalid-feedback">{{ field.errors }}</div>
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
                                </form>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-bs-dismiss="modal">بستن فرم</button>
                            </div>

                        </div>
                    </div>
                </div>

                <script>
                    function SetDelete(value) {
                        document.getElementById('deleteItem').href = value;
                    }

                    function SetVal(First_name, Last_name, International_code, Phone, Username, Password, User_Id) {
                        document.getElementById('id_FirstName').value = First_name;
                        document.getElementById('id_LastName').value = Last_name;
                        document.getElementById('id_International_Code').value = International_code;
                        document.getElementById('id_Phone').value = Phone;
                        document.getElementById('id_Username').value = Username;
                        document.getElementById('id_Password').value = Password;
                        document.getElementById('id_User_Id').value = User_Id;
                    }
                </script>

            </div>
        </div>
    </div>
</div>
</body>
</html>
