{% load static %}
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block page_Title %}ویرایش دانش آموز{% endblock %}</title>
    {% include 'User/links.html' %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container my-5">
    <div class="tab-content py-3 mt-2">
        <div class="tab-pane active">
            <div class="card">
                <div class="card-header d-inline-flex justify-content-center" style="background-color: blueviolet;">
                    <p class="d-inline my-2" style="font-size: 18px;">{% block form_Title %}ویرایش دانش آموز{% endblock %}</p>
                </div>
            </div>
            <form action="/edit_Student" id="formEdit" method="post">
                {% csrf_token %}
                {% for item in student %}
                <div class="mb-3 mt-3">
                    {{ item.label_tag }}
                    {{ item }}
                    <div class="invalid-feedback">{{ field.errors }}</div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">ویرایش اطلاعات</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
